<section>
    <h3>Persoonlijke info</h3>
    <ul>
        <li>Opleiding:
            <%= data.university %>
        </li>

        <li> hobby's:
            <% let hobbyItems = data.hobbys %>
            <% let lastElementHobby = hobbyItems[hobbyItems.length - 2]; %>
            <% let minCommaHobby = hobbyItems[hobbyItems.length - 1]; %>

                <% for (let i = 0; i < hobbyItems.length; i++){ %>
                    <% console.log("hoi") %> 


                    <%= hobbyItems[i] + "," %>


                    <% if (hobbyItems[i] == lastElementHobby) { %>
                        
                        <%= " en" %>
                            <% } %>


                            <% if (hobbyItems[i] == minCommaHobby) { %>
                        
                                <%=  %>
                                    <% } %>



                                    <% } %>



        </li>

        <li>

            <% let characterItems=  data.character%>

            <% let lastElementCharacter = characterItems[characterItems.length - 2]; %>
            <% let minCommacharacter = characterItems[characterItems.length - 1]; %>


                Character eigenschappen:
                <% for (var i = 0; i < characterItems.length; i++){ %>
                    <%= characterItems[i] +"," %>

                    <% if (characterItems[i] == lastElementCharacter) { %>
                        
                        <%= " en" %>
                            <% } %>


                            <% if (hobbyItems[i] == minCommacharacter) { %>
                        
                                <%=  %>
                                    <% } %>




                        <%  } %>

        </li>
        <li>
            <%= data.howWouldOthersDescribeYou %>
        </li>
    </ul>
</section>


<section>
    <h3>Bio</h3>
    <p>
        <%= data.bio %>
    </p>
</section>