<section>
    <h3>Persoonlijke info</h3>
    <ul>
        <li>Opleiding:
            <%= data.university %>
        </li>

        <li> hobby's:
            <!-- Geholpen door Giovanni Kaaijk met de comma's -->

            <% let hobbyItems = data.hobbys %>
                <% let lastElementHobby = hobbyItems[hobbyItems.length - 1]; %>
                    <% let minCommaHobby = hobbyItems[hobbyItems.length - 1]; %>


                        <% for (let i = 0; i < hobbyItems.length; i++){ %>
                            <% if (hobbyItems[i] == lastElementHobby) { %>
                                <%= " en "+ hobbyItems[i] %>
                                    <% } %>


                                        <% if (hobbyItems[i] != lastElementHobby) { %>
                                            <%= hobbyItems[i] + "," %>
                                                <% } %>

                                                    <% if (hobbyItems[i] == minCommaHobby) { %>
                                                        <%=  %>
                                                            <% } %>


                                                                <% } %>




        </li>

        <li>





            Character eigenschappen:
            <% let characterItems = data.character %>
                <% let lastCharacter = characterItems[characterItems.length - 1]; %>
                    <% let minCommacharacter = characterItems[characterItems.length - 1]; %>


                        <% for (let i = 0; i < characterItems.length; i++){ %>
                            <% if (characterItems[i] == lastCharacter) { %>
                                <%= " en "+ characterItems[i] %>
                                    <% } %>
                                        <% if (characterItems[i] != lastCharacter) { %>
                                            <%= hobbyItems[i] + "," %>
                                                <% } %>
                                                    <% if (characterItems[i]  == minCommacharacter) { %>
                                                        <%=  %>
                                                            <% } %>
                                                                <% } %>

        </li>
        <li>
            <%= data.howWouldOthersDescribeYou %>
        </li>
    </ul>
</section>


<section>
    <h3>Bio</h3>
    <p>
        <%= data.bio %>
    </p>
</section>