<%- include('components/head.ejs') -%>

<body>
    <header>

        <%- include('components/navigation.ejs') -%>


        <%- include('components/header-personal-detail.ejs') -%>




        <main class="profile-detail">
            <%- include('components/personal-info-bio.ejs') -%>



            <%- include('components/QandA.ejs')-%>



            <%- include('components/img-slider.ejs')-%>

        </main>



</body>

</html>