<!--source  https://www.youtube.com/watch?v=VM-2xSaDxJc -->

<%- include('components/head.ejs') -%>

<body>
    <header>

            <%- include('components/navigation.ejs') -%>


        <%- include('components/header-personal-detail.ejs') -%>


    </header>

        <main class="profile-detail">
            <%- include('components/personal-info-bio.ejs') -%>



            <%- include('components/QandA.ejs')-%>



            <%- include('components/img-slider.ejs')-%>

        </main>



</body>

</html>